body{
  background-image:url(bg4.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
  background-size: 1100px; 
  background-repeat: no-repeat;
}
section{
  width: 900px;
  height:120%;
  padding:30px;
  position: absolute;
  top:50%;
  left:81.5%;
  transform: translate(-50%,-50%);
  background:black;

  color:whitesmoke;
}
form{
  width:500px;
  margin-left: 100px;
}
fieldset{
  width:350px;
  margin-top: 90px;
  border-color: violet;
  border-width: 5px;
  border-radius: 10px;
  padding-left:80px;
  padding-right: 80px;
}

.appoint label{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5
}

table td{
  width:150px;
}

input[type="text"], input[ type="email"],input[type="tel"], textarea
{
    border: 0;
    background: 0;

    margin: 10px auto;
    text-align: center;
    border: 3px solid #868f39;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25px;
}
input[type="date"],input[type="time"],select{
  border: 0;
    background: 0;

    margin: 10px auto;
    text-align: center;
    border: 3px solid #868f39;
    padding: 14px 10px;
    width: 120px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25px;
}
option{
  background-color:black;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5

}
 input[type="text"]:focus,input[type="tel"].focus, input[ type="email"]:focus,input[type="date"].focus,input[type="time"].focus, textarea.focus{
    width: 300px;
    border-color: yellow;
}
button{
  border: 0;
  background: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #4ae06fbd;
  padding: 14px 10px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}
button:hover{
  background: rgba(43, 255, 0, 0.534);
}
a{
text-decoration: none;
color: whitesmoke;
}
a:hover{
color: brown;
}