body{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

.Services{
    background: #f1f1f1;
    text-align: center;
}

.Services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.serv{
    display: inline-block;
    width: calc(100%/3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.serv :hover{
    background: #ddd;
}

.serv i{
    color: #3498db;
    font-size: 34px;
    margin-bottom: 30px;
}

.serv h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;    
}

.serv p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:500px){
    .Services{
        width: 100%;
    }
}
button a {
    text-decoration: none;
    color:brown;
}
button{
    border: 0;
    background: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #4ae06fbd;
    padding: 14px 10px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
button :hover{
    

    color: rgb(245, 245, 245);
}